In [34]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# 1. Đọc data

In [35]:
raw_df = pd.read_csv('./diem_thi_thpt_2023.csv')
raw_df.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
0,1000001,8.4,8.50,9.2,NaN,NaN,NaN,6.75,6.00,9.00,N1
1,1000002,7.2,8.50,9.2,NaN,NaN,NaN,8.75,6.50,8.50,N1
2,1000003,NaN,6.50,NaN,NaN,NaN,NaN,9.25,7.50,NaN,NaN
3,1000004,7.8,8.25,7.8,NaN,NaN,NaN,4.50,6.25,8.25,N1
4,1000005,7.2,8.00,7.8,NaN,NaN,NaN,4.75,6.75,8.25,N1

Oke do coi data co j thu zi ne`! =))

In [36]:
raw_df.shape

(1022060, 11)

Hmmm, cung nhiu` phet ra do...

# 2. Preprocessing

## Đổi tên cột

In [37]:
raw_df.rename(columns={
    'sbd': 'SBD',
    'toan': 'Toan Hoc',
    'ngu_van': 'Ngu Van',
    'ngoai_ngu': 'Ngoai Ngu',
    'vat_li': 'Vat Ly',
    'hoa_hoc': 'Hoa Hoc',
    'sinh_hoc': 'Sinh Hoc',
    'lich_su': 'Lich Su',
    'dia_li': 'Dia Ly',
    'gdcd': 'GDCD',
    'ma_ngoai_ngu': 'Ma Ngoai Ngu'
}, inplace=True)

## check datatype

In [38]:
raw_df.dtypes

SBD               int64
Toan Hoc        float64
Ngu Van         float64
Ngoai Ngu       float64
Vat Ly          float64
Hoa Hoc         float64
Sinh Hoc        float64
Lich Su         float64
Dia Ly          float64
GDCD            float64
Ma Ngoai Ngu     object
dtype: object

## 2.1 Mapping các tỉnh thành

### Khởi tạo một dictionary các tỉnh thành ứng với mã tỉnh

In [39]:
tinh_dict = {
    1: "Hà Nội",2: "TP. Hồ Chí Minh",3: "Hải Phòng",4: "Đà Nẵng",5: "Hà Giang",6: "Cao Bằng",7: "Lai Châu",8: "Lào Cai",9: "Tuyên Quang",
    10: "Lạng Sơn",11: "Bắc Kạn",12: "Thái Nguyên",13: "Yên Bái",14: "Sơn La",15: "Phú Thọ",16: "Vĩnh Phúc",17: "Quảng Ninh",18: "Bắc Giang",
    19: "Bắc Ninh",21: "Hải Dương",22: "Hưng Yên",23: "Hoà Bình",24: "Hà Nam",25: "Nam Định",26: "Thái Bình",27: "Ninh Bình",28: "Thanh Hoá",
    29: "Nghệ An",30: "Hà Tĩnh",31: "Quảng Bình",32: "Quảng Trị",33: "Thừa Thiên -Huế",34: "Quảng Nam",35: "Quảng Ngãi",36: "Kon Tum",37: "Bình Định",
    38: "Gia Lai",39: "Phú Yên",40: "Đắk Lắk",41: "Khánh Hoà",42: "Lâm Đồng",43: "Bình Phước",44: "Bình Dương",45: "Ninh Thuận",46: "Tây Ninh",47: "Bình Thuận",
    48: "Đồng Nai",49: "Long An",50: "Đồng Tháp",51: "An Giang",52: "Bà Rịa-Vũng Tàu",53: "Tiền Giang",54: "Kiên Giang",55: "Cần Thơ",56: "Bến Tre",
    57: "Vĩnh Long",58: "Trà Vinh",59: "Sóc Trăng",60: "Bạc Liêu",61: "Cà Mau",62: "Điện Biên",63: "Đăk Nông",64: "Hậu Giang"
}

### Tạo cột mã tỉnh trước khi mapping

In [40]:
raw_df['MaTinh'] = raw_df['SBD']//1000000

In [41]:
raw_df['Tinh'] = raw_df['MaTinh'].map(tinh_dict)
raw_df = raw_df.sort_values(by='MaTinh').reset_index(drop=True)
raw_df = raw_df.drop('MaTinh', axis=1)
raw_df

,SBD,Toan Hoc,Ngu Van,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Ma Ngoai Ngu,Tinh
0,1000001,8.4,8.50,9.2,NaN,NaN,NaN,6.75,6.00,9.00,N1,Hà Nội
1,1068070,6.2,6.00,4.8,NaN,NaN,NaN,5.25,6.75,7.50,N1,Hà Nội
2,1068069,5.8,5.50,5.4,NaN,NaN,NaN,6.50,6.75,7.50,N1,Hà Nội
3,1068068,5.4,7.25,5.0,NaN,NaN,NaN,4.25,5.50,8.75,N1,Hà Nội
4,1068067,6.4,6.00,7.8,NaN,NaN,NaN,7.00,5.25,8.75,N1,Hà Nội
...,...,...,...,...,...,...,...,...,...,...,...,...
1022055,64002307,5.8,7.50,3.8,NaN,NaN,NaN,5.50,4.50,7.75,N1,Hậu Giang
1022056,64002306,6.8,7.50,4.0,NaN,NaN,NaN,6.00,6.50,8.25,N1,Hậu Giang
1022057,64002305,7.8,7.25,5.8,NaN,NaN,NaN,7.75,6.25,9.25,N1,Hậu Giang
1022058,64002316,5.6,6.00,4.6,NaN,NaN,NaN,5.50,6.75,9.00,N1,Hậu Giang
1022059,64006937,NaN,5.00,NaN,NaN,NaN,NaN,4.25,4.75,NaN,NaN,Hậu Giang

### Kiểm tra xem có bị thiếu tỉnh hay có rỗng không

In [42]:
raw_df['Tinh'].unique()

array(['Hà Nội', 'TP. Hồ Chí Minh', 'Hải Phòng', 'Đà Nẵng', 'Hà Giang',
       'Cao Bằng', 'Lai Châu', 'Lào Cai', 'Tuyên Quang', 'Lạng Sơn',
       'Bắc Kạn', 'Thái Nguyên', 'Yên Bái', 'Sơn La', 'Phú Thọ',
       'Vĩnh Phúc', 'Quảng Ninh', 'Bắc Giang', 'Bắc Ninh', 'Hải Dương',
       'Hưng Yên', 'Hoà Bình', 'Hà Nam', 'Nam Định', 'Thái Bình',
       'Ninh Bình', 'Thanh Hoá', 'Nghệ An', 'Hà Tĩnh', 'Quảng Bình',
       'Quảng Trị', 'Thừa Thiên -Huế', 'Quảng Nam', 'Quảng Ngãi',
       'Kon Tum', 'Bình Định', 'Gia Lai', 'Phú Yên', 'Đắk Lắk',
       'Khánh Hoà', 'Lâm Đồng', 'Bình Phước', 'Bình Dương', 'Ninh Thuận',
       'Tây Ninh', 'Bình Thuận', 'Đồng Nai', 'Long An', 'Đồng Tháp',
       'An Giang', 'Bà Rịa-Vũng Tàu', 'Tiền Giang', 'Kiên Giang',
       'Cần Thơ', 'Bến Tre', 'Vĩnh Long', 'Trà Vinh', 'Sóc Trăng',
       'Bạc Liêu', 'Cà Mau', 'Điện Biên', 'Đăk Nông', 'Hậu Giang'],
      dtype=object)

In [43]:
raw_df['Tinh'].nunique()

63

Không có tỉnh bị thiếu (63 tỉnh) và không có rỗng

## 2.2 Mapping mã ngoại ngữ sang ngoại ngữ

### Khởi tạo một dictionary các mã ngoại ngữ ứng với môn ngoại ngữ

In [44]:
mapping_ngon_ngu = {
    'N1': 'Tiếng Anh',
    'N2': 'Tiếng Nga',
    'N3': 'Tiếng Pháp',
    'N4': 'Tiếng Trung',
    'N5': 'Tiếng Đức',
    'N6': 'Tiếng Nhật'
}

#map
raw_df['Mon Ngoai Ngu'] = raw_df['Ma Ngoai Ngu'].map(mapping_ngon_ngu)
raw_df

,SBD,Toan Hoc,Ngu Van,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Ma Ngoai Ngu,Tinh,Mon Ngoai Ngu
0,1000001,8.4,8.50,9.2,NaN,NaN,NaN,6.75,6.00,9.00,N1,Hà Nội,Tiếng Anh
1,1068070,6.2,6.00,4.8,NaN,NaN,NaN,5.25,6.75,7.50,N1,Hà Nội,Tiếng Anh
2,1068069,5.8,5.50,5.4,NaN,NaN,NaN,6.50,6.75,7.50,N1,Hà Nội,Tiếng Anh
3,1068068,5.4,7.25,5.0,NaN,NaN,NaN,4.25,5.50,8.75,N1,Hà Nội,Tiếng Anh
4,1068067,6.4,6.00,7.8,NaN,NaN,NaN,7.00,5.25,8.75,N1,Hà Nội,Tiếng Anh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022055,64002307,5.8,7.50,3.8,NaN,NaN,NaN,5.50,4.50,7.75,N1,Hậu Giang,Tiếng Anh
1022056,64002306,6.8,7.50,4.0,NaN,NaN,NaN,6.00,6.50,8.25,N1,Hậu Giang,Tiếng Anh
1022057,64002305,7.8,7.25,5.8,NaN,NaN,NaN,7.75,6.25,9.25,N1,Hậu Giang,Tiếng Anh
1022058,64002316,5.6,6.00,4.6,NaN,NaN,NaN,5.50,6.75,9.00,N1,Hậu Giang,Tiếng Anh
1022059,64006937,NaN,5.00,NaN,NaN,NaN,NaN,4.25,4.75,NaN,NaN,Hậu Giang,NaN

In [45]:
raw_df = raw_df.drop('Ma Ngoai Ngu', axis=1).reset_index(drop=True)
raw_df

,SBD,Toan Hoc,Ngu Van,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Tinh,Mon Ngoai Ngu
0,1000001,8.4,8.50,9.2,NaN,NaN,NaN,6.75,6.00,9.00,Hà Nội,Tiếng Anh
1,1068070,6.2,6.00,4.8,NaN,NaN,NaN,5.25,6.75,7.50,Hà Nội,Tiếng Anh
2,1068069,5.8,5.50,5.4,NaN,NaN,NaN,6.50,6.75,7.50,Hà Nội,Tiếng Anh
3,1068068,5.4,7.25,5.0,NaN,NaN,NaN,4.25,5.50,8.75,Hà Nội,Tiếng Anh
4,1068067,6.4,6.00,7.8,NaN,NaN,NaN,7.00,5.25,8.75,Hà Nội,Tiếng Anh
...,...,...,...,...,...,...,...,...,...,...,...,...
1022055,64002307,5.8,7.50,3.8,NaN,NaN,NaN,5.50,4.50,7.75,Hậu Giang,Tiếng Anh
1022056,64002306,6.8,7.50,4.0,NaN,NaN,NaN,6.00,6.50,8.25,Hậu Giang,Tiếng Anh
1022057,64002305,7.8,7.25,5.8,NaN,NaN,NaN,7.75,6.25,9.25,Hậu Giang,Tiếng Anh
1022058,64002316,5.6,6.00,4.6,NaN,NaN,NaN,5.50,6.75,9.00,Hậu Giang,Tiếng Anh
1022059,64006937,NaN,5.00,NaN,NaN,NaN,NaN,4.25,4.75,NaN,Hậu Giang,NaN

#### Thay đổi giá trị `Nan` ở cột `Mon Ngoai Ngu` thành `Khong Thi`

In [46]:
raw_df['Mon Ngoai Ngu'].fillna('Không thi', inplace=True)

### Xếp lại tên cột

In [47]:
raw_df = raw_df.reindex(columns=['SBD', 'Tinh', 'Ngu Van', 'Toan Hoc', 'Mon Ngoai Ngu', 'Ngoai Ngu', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 'Lich Su', 'Dia Ly', 'GDCD'])
raw_df

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,1000001,Hà Nội,8.50,8.4,Tiếng Anh,9.2,NaN,NaN,NaN,6.75,6.00,9.00
1,1068070,Hà Nội,6.00,6.2,Tiếng Anh,4.8,NaN,NaN,NaN,5.25,6.75,7.50
2,1068069,Hà Nội,5.50,5.8,Tiếng Anh,5.4,NaN,NaN,NaN,6.50,6.75,7.50
3,1068068,Hà Nội,7.25,5.4,Tiếng Anh,5.0,NaN,NaN,NaN,4.25,5.50,8.75
4,1068067,Hà Nội,6.00,6.4,Tiếng Anh,7.8,NaN,NaN,NaN,7.00,5.25,8.75
...,...,...,...,...,...,...,...,...,...,...,...,...
1022055,64002307,Hậu Giang,7.50,5.8,Tiếng Anh,3.8,NaN,NaN,NaN,5.50,4.50,7.75
1022056,64002306,Hậu Giang,7.50,6.8,Tiếng Anh,4.0,NaN,NaN,NaN,6.00,6.50,8.25
1022057,64002305,Hậu Giang,7.25,7.8,Tiếng Anh,5.8,NaN,NaN,NaN,7.75,6.25,9.25
1022058,64002316,Hậu Giang,6.00,5.6,Tiếng Anh,4.6,NaN,NaN,NaN,5.50,6.75,9.00
1022059,64006937,Hậu Giang,5.00,NaN,Không thi,NaN,NaN,NaN,NaN,4.25,4.75,NaN

## 2.3 Kiểm tra danh sách và số lượng tương ứng vỗi mỗi ngoại ngữ

In [48]:
raw_df['Mon Ngoai Ngu'].unique()

array(['Tiếng Anh', 'Tiếng Trung', 'Không thi', 'Tiếng Nhật', 'Tiếng Đức',
       'Tiếng Pháp', 'Tiếng Nga'], dtype=object)

In [49]:
so_luong_thi_sinh = raw_df['Mon Ngoai Ngu'].value_counts()
so_luong_thi_sinh

Mon Ngoai Ngu
Tiếng Anh      876102
Không thi      141470
Tiếng Trung      2940
Tiếng Pháp        716
Tiếng Nhật        659
Tiếng Nga          87
Tiếng Đức          86
Name: count, dtype: int64

#### Nhận xét:
Có thể thấy số lượng thi ngoại ngữ đa phần là môn tiếng anh, ngoài ra cũng có một số trường hợp không thi ngoại ngữ thì sẽ rơi vào 2 trường hợp sau:
- Được miễn thi ngoại ngữ do có bằng ngoại ngữ
- Thí sinh tự do (chỉ thi những môn họ muốn)

=> Đặt vấn đề là nếu mình muốn tính điểm và so các tỉnh thành với nhau hay so điểm của một cá thể cũng sẽ tương đối khó khăn vì có trường hợp thí sinh điểm cao nhưng không cần thi ngoại ngữ hoặc là thi lại. Vì vậy tạm thời sẽ không loại bỏ các dòng này

## 2.4 Kiểm tra số lượng thí sinh thi và số môn thi để tìm thử phương án xử lý

In [50]:
dong_so_mon_thi_bang_0 = raw_df[raw_df[['Ngu Van', 'Toan Hoc', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 'Lich Su', 'Dia Ly', 'GDCD', 'Ngoai Ngu']].count(axis=1) == 0]

# In ra dòng đầu tiên mà số môn thi bằng 0 (nếu có)
if not dong_so_mon_thi_bang_0.empty:
    print("Dòng mà số môn thi bằng 0:")
    print(dong_so_mon_thi_bang_0)
else:
    print("Không có dòng nào mà số môn thi bằng 0.")

Dòng mà số môn thi bằng 0:
              SBD       Tinh  Ngu Van  Toan Hoc Mon Ngoai Ngu  Ngoai Ngu  \
27        1068093     Hà Nội      NaN       NaN     Không thi        NaN
416       1068452     Hà Nội      NaN       NaN     Không thi        NaN
1258      1067611     Hà Nội      NaN       NaN     Không thi        NaN
1473      1067446     Hà Nội      NaN       NaN     Không thi        NaN
2373      1069935     Hà Nội      NaN       NaN     Không thi        NaN
...           ...        ...      ...       ...           ...        ...
1020406  64002845  Hậu Giang      NaN       NaN     Không thi        NaN
1020884  64003423  Hậu Giang      NaN       NaN     Không thi        NaN
1021611  64001950  Hậu Giang      NaN       NaN     Không thi        NaN
1021846  64002245  Hậu Giang      NaN       NaN     Không thi        NaN
1021897  64002222  Hậu Giang      NaN       NaN     Không thi        NaN

         Vat Ly  Hoa Hoc  Sinh Hoc  Lich Su  Dia Ly  GDCD
27          NaN      NaN       NaN      NaN     NaN   NaN
416         NaN      NaN       NaN      NaN     NaN   NaN
1258        NaN      NaN       NaN      NaN     NaN   NaN
1473        NaN      NaN       NaN      NaN     NaN   NaN
2373        NaN      NaN       NaN      NaN     NaN   NaN
...         ...      ...       ...      ...     ...   ...
1020406     NaN      NaN       NaN      NaN     NaN   NaN
1020884     NaN      NaN       NaN      NaN     NaN   NaN
1021611     NaN      NaN       NaN      NaN     NaN   NaN
1021846     NaN      NaN       NaN      NaN     NaN   NaN
1021897     NaN      NaN       NaN      NaN     NaN   NaN

[4476 rows x 12 columns]

In [51]:
def dem_so_mon_thi(df):
    # Tạo một Series mới để lưu số lượng môn thi của từng thí sinh
    so_mon_thi = df[['Ngu Van', 'Toan Hoc', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 'Lich Su', 'Dia Ly', 'GDCD', 'Ngoai Ngu']].count(axis=1)
    
    # Đếm số lượng thí sinh thi mỗi số môn
    so_luong_moi_so_mon = so_mon_thi.value_counts().sort_index()
    
    # In ra số lượng môn thi của từng thí sinh
    for so_mon, so_thi_sinh in so_luong_moi_so_mon.items():
        print(f"{so_mon}: {so_thi_sinh}")

# Gọi hàm với dataframe df
dem_so_mon_thi(raw_df)

0: 4476
1: 453
2: 610
3: 23898
4: 105884
5: 13763
6: 872976

Dựa vào thông tin kiểm tra, để phù hợp cho việc xử lý và nhẹ nhàng cho việc fill dữ liệu trống, ta sẽ loại bỏ các dòng dữ liệu có số môn ` nhỏ hơn 3`

In [52]:
raw_df = raw_df[raw_df[['Ngu Van', 'Toan Hoc', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 
                        'Lich Su', 'Dia Ly', 'GDCD', 'Ngoai Ngu']].count(axis=1) >= 3].reset_index(drop=True)
raw_df

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,1000001,Hà Nội,8.50,8.4,Tiếng Anh,9.2,NaN,NaN,NaN,6.75,6.00,9.00
1,1068070,Hà Nội,6.00,6.2,Tiếng Anh,4.8,NaN,NaN,NaN,5.25,6.75,7.50
2,1068069,Hà Nội,5.50,5.8,Tiếng Anh,5.4,NaN,NaN,NaN,6.50,6.75,7.50
3,1068068,Hà Nội,7.25,5.4,Tiếng Anh,5.0,NaN,NaN,NaN,4.25,5.50,8.75
4,1068067,Hà Nội,6.00,6.4,Tiếng Anh,7.8,NaN,NaN,NaN,7.00,5.25,8.75
...,...,...,...,...,...,...,...,...,...,...,...,...
1016516,64002307,Hậu Giang,7.50,5.8,Tiếng Anh,3.8,NaN,NaN,NaN,5.50,4.50,7.75
1016517,64002306,Hậu Giang,7.50,6.8,Tiếng Anh,4.0,NaN,NaN,NaN,6.00,6.50,8.25
1016518,64002305,Hậu Giang,7.25,7.8,Tiếng Anh,5.8,NaN,NaN,NaN,7.75,6.25,9.25
1016519,64002316,Hậu Giang,6.00,5.6,Tiếng Anh,4.6,NaN,NaN,NaN,5.50,6.75,9.00
1016520,64006937,Hậu Giang,5.00,NaN,Không thi,NaN,NaN,NaN,NaN,4.25,4.75,NaN

In [53]:
dem_so_mon_thi(raw_df)

3: 23898
4: 105884
5: 13763
6: 872976

Tạm ổn!  Ở đây thấy là không còn trường thi >6 môn nên sẽ không có xử lý tiếp trường hợp thi 2 ban

## 2.4 Lọc ra data thi tự nhiên (lý hóa sinh) và khối xã hội (sử địa gdcd)

#### **Khối tự nhiên**

In [54]:
TN_df = raw_df[(~raw_df['Vat Ly'].isna()) & (~raw_df['Hoa Hoc'].isna()) & (~raw_df['Sinh Hoc'].isna())]
TN_df.drop(columns=['Lich Su', 'Dia Ly', 'GDCD'], inplace=True)
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc
109,1068160,Hà Nội,6.00,7.4,Tiếng Anh,7.4,7.75,4.75,5.75
113,1068156,Hà Nội,6.25,7.6,Tiếng Anh,2.4,3.75,7.75,6.25
114,1068155,Hà Nội,5.25,6.4,Tiếng Anh,4.4,7.25,4.50,6.50
141,1068178,Hà Nội,6.75,8.4,Tiếng Anh,2.8,8.50,8.75,3.00
142,1068177,Hà Nội,4.75,7.8,Tiếng Anh,3.6,6.25,4.25,5.25

In [55]:
TN_df.shape

(322540, 9)

#### **Khối xã hội**

In [56]:
XH_df = raw_df[~raw_df['Lich Su'].isna() & ~raw_df['Dia Ly'].isna() & ~raw_df['GDCD'].isna()]
XH_df.drop(columns=['Vat Ly', 'Hoa Hoc', 'Sinh Hoc'], inplace=True)
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD
0,1000001,Hà Nội,8.50,8.4,Tiếng Anh,9.2,6.75,6.00,9.00
1,1068070,Hà Nội,6.00,6.2,Tiếng Anh,4.8,5.25,6.75,7.50
2,1068069,Hà Nội,5.50,5.8,Tiếng Anh,5.4,6.50,6.75,7.50
3,1068068,Hà Nội,7.25,5.4,Tiếng Anh,5.0,4.25,5.50,8.75
4,1068067,Hà Nội,6.00,6.4,Tiếng Anh,7.8,7.00,5.25,8.75

In [57]:
XH_df.shape

(565243, 9)

Wow, so luong nguoi thi ban TN co ve chi bang 1/2 so luong nguoi thi XH :)))

1 su that thu zi ~~

In [58]:
TN_df['Diem TB to hop'] = np.mean(TN_df.loc[:, 'Vat Ly':'Sinh Hoc'], axis=1).round(2)
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Diem TB to hop
109,1068160,Hà Nội,6.00,7.4,Tiếng Anh,7.4,7.75,4.75,5.75,6.08
113,1068156,Hà Nội,6.25,7.6,Tiếng Anh,2.4,3.75,7.75,6.25,5.92
114,1068155,Hà Nội,5.25,6.4,Tiếng Anh,4.4,7.25,4.50,6.50,6.08
141,1068178,Hà Nội,6.75,8.4,Tiếng Anh,2.8,8.50,8.75,3.00,6.75
142,1068177,Hà Nội,4.75,7.8,Tiếng Anh,3.6,6.25,4.25,5.25,5.25

In [59]:
XH_df['Diem TB to hop'] = np.mean(XH_df.loc[:, 'Lich Su':'GDCD'], axis=1).round(2)
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD,Diem TB to hop
0,1000001,Hà Nội,8.50,8.4,Tiếng Anh,9.2,6.75,6.00,9.00,7.25
1,1068070,Hà Nội,6.00,6.2,Tiếng Anh,4.8,5.25,6.75,7.50,6.50
2,1068069,Hà Nội,5.50,5.8,Tiếng Anh,5.4,6.50,6.75,7.50,6.92
3,1068068,Hà Nội,7.25,5.4,Tiếng Anh,5.0,4.25,5.50,8.75,6.17
4,1068067,Hà Nội,6.00,6.4,Tiếng Anh,7.8,7.00,5.25,8.75,7.00

Oke, coi diem thi to hop mon cua may khua nay` ntn =))

## **Các dạng thi khác**

In [60]:
khac_df = raw_df.loc[raw_df.index.difference(TN_df.index).difference(XH_df.index), :]
khac_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
895,1067373,Hà Nội,6.25,3.0,Không thi,NaN,NaN,NaN,NaN,4.50,3.00,NaN
896,1067372,Hà Nội,5.50,7.4,Không thi,NaN,NaN,NaN,NaN,7.75,6.50,NaN
897,1067371,Hà Nội,8.00,5.4,Không thi,NaN,NaN,NaN,NaN,7.50,6.25,NaN
898,1067370,Hà Nội,6.50,3.2,Không thi,NaN,NaN,NaN,NaN,4.25,5.00,NaN
899,1067369,Hà Nội,5.75,7.0,Không thi,NaN,NaN,NaN,NaN,6.75,5.75,NaN

In [61]:
khac_df.shape

(128738, 12)

In [62]:
if khac_df.shape[0] + TN_df.shape[0] + XH_df.shape[0] == raw_df.shape[0]:
    print('Ngon :v')
else: print('Fuckkkk :)) co j do bat on o day!')

Ngon :v

### Check lại về thi 2 ban

In [63]:
raw_df.loc[TN_df.index.intersection(XH_df.index), :]

Empty DataFrame
Columns: [SBD, Tinh, Ngu Van, Toan Hoc, Mon Ngoai Ngu, Ngoai Ngu, Vat Ly, Hoa Hoc, Sinh Hoc, Lich Su, Dia Ly, GDCD]
Index: []

Không có!

In [64]:
# both_df = raw_df.loc[TN_df.index.intersection(XH_df.index), :]
# TN_df.drop(index=both_df.index, inplace=True)
# XH_df.drop(index=both_df.index, inplace=True)

In [65]:
# if khac_df.shape[0] + TN_df.shape[0] + XH_df.shape[0] + both_df.shape[0] == raw_df.shape[0]:
#     print('Ngon :v')
# else: print('Fuckkkk :)) co j do bat on o day!')

In [66]:
# both_df['Diem TB to hop TN'] = np.mean(both_df.loc[:, 'Vat Ly':'Sinh Hoc'], axis=1).round(2)
# both_df['Diem TB to hop XH'] = np.mean(both_df.loc[:, 'Lich Su':'GDCD'], axis=1).round(2)
# both_df.head()

- Phần phía dưới tạm thời bỏ nha do fill thì chắc trực quan hơi ảnh hưởng với ngoại ngữ có nhiều ngoại ngữ khác nhau và nhiều yếu tố khác
- Do điểm là vấn đề nhạy cảm nên tạm thời cứ làm trên dữ liệu gốc

In [67]:
# TN_df['Ngoai Ngu'].fillna(TN_df['Ngoai Ngu'].median(), inplace=True)
# XH_df['Ngoai Ngu'].fillna(XH_df['Ngoai Ngu'].median(), inplace=True)
# both_df['Ngoai Ngu'].fillna(both_df['Ngoai Ngu'].median(), inplace=True)
# TN_df['Ngu Van'].fillna(0, inplace=True)
# TN_df['Toan Hoc'].fillna(0, inplace=True)
# XH_df['Ngu Van'].fillna(0, inplace=True)
# XH_df['Toan Hoc'].fillna(0, inplace=True)
# both_df['Ngu Van'].fillna(0, inplace=True)
# both_df['Toan Hoc'].fillna(0, inplace=True)
# TN_df['Ma Ngoai Ngu'].fillna('unknown', inplace=True)
# XH_df['Ma Ngoai Ngu'].fillna('unknown', inplace=True)
# both_df['Ma Ngoai Ngu'].fillna('unknown', inplace=True)

In [68]:
TN_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 322540 entries, 109 to 1016489
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SBD             322540 non-null  int64
 1   Tinh            322540 non-null  object
 2   Ngu Van         320359 non-null  float64
 3   Toan Hoc        322525 non-null  float64
 4   Mon Ngoai Ngu   322540 non-null  object
 5   Ngoai Ngu       313613 non-null  float64
 6   Vat Ly          322540 non-null  float64
 7   Hoa Hoc         322540 non-null  float64
 8   Sinh Hoc        322540 non-null  float64
 9   Diem TB to hop  322540 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 27.1+ MB

In [69]:
XH_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 565243 entries, 0 to 1016519
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SBD             565243 non-null  int64
 1   Tinh            565243 non-null  object
 2   Ngu Van         565172 non-null  float64
 3   Toan Hoc        564481 non-null  float64
 4   Mon Ngoai Ngu   565243 non-null  object
 5   Ngoai Ngu       560129 non-null  float64
 6   Lich Su         565243 non-null  float64
 7   Dia Ly          565243 non-null  float64
 8   GDCD            565243 non-null  float64
 9   Diem TB to hop  565243 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 47.4+ MB

In [70]:
# both_df.info()

Ngon, co ve on r, h di check dieu kien tot nghiep th =)))

In [71]:
# TN_df['Ket Qua'] = 1
# XH_df['Ket Qua'] = 1
# both_df['Ket Qua'] = 1

# TN_df.loc[(TN_df['Toan Hoc'] < 1) | (TN_df['Ngu Van'] < 1) | (TN_df['Ngoai Ngu'] < 1) | (TN_df['Vat Ly'] < 1) | (TN_df['Hoa Hoc'] < 1) | (TN_df['Sinh Hoc'] < 1), 'Ket Qua'] = 0
# XH_df.loc[(XH_df['Toan Hoc'] < 1) | (XH_df['Ngu Van'] < 1) | (XH_df['Ngoai Ngu'] < 1) | (XH_df['Lich Su'] < 1) | (XH_df['Dia Ly'] < 1) | (XH_df['GDCD'] < 1), 'Ket Qua'] = 0
# both_df.loc[(both_df['Toan Hoc'] < 1) | (both_df['Ngu Van'] < 1) | (both_df['Ngoai Ngu'] < 1) | (both_df['Vat Ly'] < 1) | (both_df['Hoa Hoc'] < 1) | (both_df['Sinh Hoc'] < 1), 'Ket Qua'] = 0
# both_df.loc[(both_df['Toan Hoc'] < 1) | (both_df['Ngu Van'] < 1) | (both_df['Ngoai Ngu'] < 1) | (both_df['Lich Su'] < 1) | (both_df['Dia Ly'] < 1) | (both_df['GDCD'] < 1), 'Ket Qua'] = 0

Phần check tốt nghiệp tạm thời để qua vì này là điểm  ko đủ để xét tốt nghiệp với so sánh điểm từng môn giữa các tỉnh thành và so sánh điểm cao này nọ thui

In [72]:
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Diem TB to hop
109,1068160,Hà Nội,6.00,7.4,Tiếng Anh,7.4,7.75,4.75,5.75,6.08
113,1068156,Hà Nội,6.25,7.6,Tiếng Anh,2.4,3.75,7.75,6.25,5.92
114,1068155,Hà Nội,5.25,6.4,Tiếng Anh,4.4,7.25,4.50,6.50,6.08
141,1068178,Hà Nội,6.75,8.4,Tiếng Anh,2.8,8.50,8.75,3.00,6.75
142,1068177,Hà Nội,4.75,7.8,Tiếng Anh,3.6,6.25,4.25,5.25,5.25

In [73]:
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD,Diem TB to hop
0,1000001,Hà Nội,8.50,8.4,Tiếng Anh,9.2,6.75,6.00,9.00,7.25
1,1068070,Hà Nội,6.00,6.2,Tiếng Anh,4.8,5.25,6.75,7.50,6.50
2,1068069,Hà Nội,5.50,5.8,Tiếng Anh,5.4,6.50,6.75,7.50,6.92
3,1068068,Hà Nội,7.25,5.4,Tiếng Anh,5.0,4.25,5.50,8.75,6.17
4,1068067,Hà Nội,6.00,6.4,Tiếng Anh,7.8,7.00,5.25,8.75,7.00

In [74]:
# both_df.head()

In [75]:
khac_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
895,1067373,Hà Nội,6.25,3.0,Không thi,NaN,NaN,NaN,NaN,4.50,3.00,NaN
896,1067372,Hà Nội,5.50,7.4,Không thi,NaN,NaN,NaN,NaN,7.75,6.50,NaN
897,1067371,Hà Nội,8.00,5.4,Không thi,NaN,NaN,NaN,NaN,7.50,6.25,NaN
898,1067370,Hà Nội,6.50,3.2,Không thi,NaN,NaN,NaN,NaN,4.25,5.00,NaN
899,1067369,Hà Nội,5.75,7.0,Không thi,NaN,NaN,NaN,NaN,6.75,5.75,NaN

In [76]:
TN_df['Diem TB'] = ((TN_df['Toan Hoc'] + TN_df['Ngoai Ngu'] + TN_df['Ngu Van'] + TN_df['Vat Ly'] + TN_df['Hoa Hoc'] + TN_df['Sinh Hoc']) / 6).round(2)
XH_df['Diem TB'] = ((XH_df['Toan Hoc'] + XH_df['Ngoai Ngu'] + XH_df['Ngu Van'] + XH_df['Lich Su'] + XH_df['Dia Ly'] + XH_df['GDCD']) / 6).round(2)
# both_df['Diem TBTN'] = ((both_df['Toan Hoc'] + both_df['Ngoai Ngu'] + both_df['Ngu Van'] + both_df['Vat Ly'] + both_df['Hoa Hoc'] + both_df['Sinh Hoc']) / 6).round(2)
# both_df['Diem TBXH'] = ((both_df['Toan Hoc'] + both_df['Ngoai Ngu'] + both_df['Ngu Van'] + both_df['Lich Su'] + both_df['Dia Ly'] + both_df['GDCD']) / 6).round(2)

In [77]:
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Diem TB to hop,Diem TB
109,1068160,Hà Nội,6.00,7.4,Tiếng Anh,7.4,7.75,4.75,5.75,6.08,6.51
113,1068156,Hà Nội,6.25,7.6,Tiếng Anh,2.4,3.75,7.75,6.25,5.92,5.67
114,1068155,Hà Nội,5.25,6.4,Tiếng Anh,4.4,7.25,4.50,6.50,6.08,5.72
141,1068178,Hà Nội,6.75,8.4,Tiếng Anh,2.8,8.50,8.75,3.00,6.75,6.37
142,1068177,Hà Nội,4.75,7.8,Tiếng Anh,3.6,6.25,4.25,5.25,5.25,5.32

In [78]:
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD,Diem TB to hop,Diem TB
0,1000001,Hà Nội,8.50,8.4,Tiếng Anh,9.2,6.75,6.00,9.00,7.25,7.98
1,1068070,Hà Nội,6.00,6.2,Tiếng Anh,4.8,5.25,6.75,7.50,6.50,6.08
2,1068069,Hà Nội,5.50,5.8,Tiếng Anh,5.4,6.50,6.75,7.50,6.92,6.24
3,1068068,Hà Nội,7.25,5.4,Tiếng Anh,5.0,4.25,5.50,8.75,6.17,6.02
4,1068067,Hà Nội,6.00,6.4,Tiếng Anh,7.8,7.00,5.25,8.75,7.00,6.87

In [79]:
# both_df.head()

# 3. Tạo ra các file data mới

In [80]:
TN_df.to_csv('Danh sach Thi sinh thi khoi tu nhien.csv', index = False)
XH_df.to_csv('Danh sach Thi sinh thi khoi xa hoi.csv', index = False)
# both_df.to_csv('Danh sach Thi sinh thi ca hai khoi', index = False)
khac_df.to_csv('Danh sach Thi sinh khong xac dinh.csv', index = False)

Xong! Di ngu th =))